Repository fsoco/fsoco-dataset, pull requests merged in 2020-12, with the labels that each got.

#87 Docs/#86 add penn electric racing
  docs/README.md
  docs/_includes/overview_stats.html
  docs/_includes/stats_for_nerds_bokeh.slides.html
  docs/assets/img/teams/penn_electric_racing.png
  docs/assets/img/teams/raw/penn_electric_racing.png
  docs/pages/contributors.md
Labels: contributor

#92 Docs/#91 add paper to website
  docs/README.md
  docs/index.md
  docs/pages/contributors.md
  docs/pages/tools.md
Labels: documentation

#95 Add github action for sanity checks
  .github/workflows/label_sanity_checks.yaml
Labels: enhancement

#94 Add sanity checks to FSOCO Tool and run them in CI
  .github/workflows/label_sanity_checks.yaml
  tools/click_fsoco.py
  tools/sanity_checker/__init__.py
  tools/sanity_checker/bounding_box_checker.py
  tools/sanity_checker/click_sanity_checker.py
  tools/sanity_checker/label_checker.py
  tools/sanity_checker/sanity_checker.py
  tools/sanity_checker/segmentation_checker.py
  tools/sanity_checker/utils.py
  tools/setup.py
  tools/similarity_scorer/utils/logger.py
Labels: tools

#97 Check subsequences in label job names to extract geometry
  tools/sanity_checker/sanity_checker.py
  tools/sanity_checker/utils.py
Labels: enhancement, tools

#98 Create pseudo jobs to account for images not assigned to any job
  tools/sanity_checker/sanity_checker.py
Labels: enhancement, tools

#99 Improve sanity checks for segmentation
  tools/sanity_checker/bounding_box_checker.py
  tools/sanity_checker/label_checker.py
  tools/sanity_checker/sanity_checker.py
  tools/sanity_checker/segmentation_checker.py
  tools/setup.py
Labels: enhancement, tools

#100 Improve sanity checks for bounding boxes
  tools/sanity_checker/bounding_box_checker.py
Labels: enhancement, tools

#102 Bugfix#96 sc fixes
  tools/sanity_checker/bounding_box_checker.py
  tools/sanity_checker/label_checker.py
  tools/sanity_checker/sanity_checker.py
  tools/sanity_checker/segmentation_checker.py
Labels: bug, tools

#105 Save results in JSON file if option is selected
  tools/sanity_checker/click_sanity_checker.py
  tools/sanity_checker/sanity_checker.py
Labels: enhancement

#107 Check and remove separated labels
  tools/sanity_checker/segmentation_checker.py
Labels: enhancement

#108 Add resolved tag to indicated manually reviewed label issues
  tools/sanity_checker/bounding_box_checker.py
  tools/sanity_checker/label_checker.py
  tools/sanity_checker/sanity_checker.py
  tools/sanity_checker/segmentation_checker.py
Labels: enhancement

#112 Run sanity checks in nightly CI
  .github/workflows/label_sanity_checks.yaml
Labels: enhancement

#113 Check if a previous sanity check deleted the label
  tools/sanity_checker/bounding_box_checker.py
  tools/sanity_checker/label_checker.py
  tools/sanity_checker/segmentation_checker.py
Labels: bug

#110 Docs/#106 labeling job status page
  Dockerfile
  docker-compose.yml
  docs/pages/contribution_status.md
Labels: documentation, enhancement

#115 Count labels and all issues
  tools/sanity_checker/bounding_box_checker.py
  tools/sanity_checker/label_checker.py
  tools/sanity_checker/sanity_checker.py
  tools/sanity_checker/segmentation_checker.py
Labels: tools

#114 Run sanity checks only on specified label type
  tools/sanity_checker/click_sanity_checker.py
  tools/sanity_checker/sanity_checker.py
Labels: tools
