Repository fsoco/fsoco-dataset, pull requests merged in 2021-03, with the labels that each got.

#140 Add URL parameter fetching for pre-filled contribution status form
  docs/pages/contribution_status.md
Labels: documentation

#141 [Sanity checker] Report number of fixed issues
  tools/sanity_checker/bounding_box_checker.py
  tools/sanity_checker/label_checker.py
  tools/sanity_checker/sanity_checker.py
  tools/sanity_checker/segmentation_checker.py
Labels: enhancement

#143 Add MAD Racing Team
  docs/README.md
  docs/_includes/overview_stats.html
  docs/_includes/stats_for_nerds_bokeh.slides.html
  docs/assets/img/teams/mad.png
  docs/assets/img/teams/raw/mad.png
  docs/pages/contributors.md
Labels: contributor

#145 Add UNICAMP E-Racing
  docs/README.md
  docs/_includes/overview_stats.html
  docs/_includes/stats_for_nerds_bokeh.slides.html
  docs/assets/img/teams/raw/unicamp.png
  docs/assets/img/teams/unicamp.png
  docs/pages/contributors.md
Labels: contributor

#150 Add UGATU Racing Team
  docs/README.md
  docs/_includes/overview_stats.html
  docs/_includes/stats_for_nerds_bokeh.slides.html
  docs/assets/img/teams/raw/ugatu.png
  docs/assets/img/teams/ugatu.png
  docs/pages/contributors.md
Labels: contributor

#151 Add FSB Racing Team
  docs/README.md
  docs/_includes/overview_stats.html
  docs/_includes/stats_for_nerds_bokeh.slides.html
  docs/assets/img/teams/fsb.png
  docs/assets/img/teams/raw/fsb.png
  docs/pages/contributors.md
Labels: contributor
